{% extends 'base.html' %}
{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-8 text-center p-4">
            <h2 class="mb-4">TibiaStats.online</h2>
            <p class="mb-4">Website created for tibia community to provide tools and statistics from data that can be found on <a href="https://www.tibia.com/" target="_blank">www.tibia.com</a></p>
            <p class="mb-2">Project will be free and opensource, repository can be found <a href="https://github.com/jakubg89/tibia_stats" target="_blank">here</a>.</p>
            <p class="mb-7">If you have some idea on new feature or you want to contact us just use form on <a href="#">contact</a> site.</p>
            <p class="mb-7">To collect data we use our own scripts and API <a href="https://tibiadata.com/" target="_blank">tibiadata.com</a></p>
        </div>
    </div>
</div>
{% endblock %}