{% extends 'base.html' %}
{% block content %}

<!-- News ticker and boosted creatures Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <!-- News ticker Start -->
                <div class="col-sm-6 col-xl-9">
                    <div class="h-100 bg-secondary rounded p-4">

                        <div class="d-flex align-items-center justify-content-center mb-0">
                            <h4 class="mb-0">News ticker</h4>
                        </div>

                        {% for i in news_ticker %}
                        <div class="d-flex align-items-center {% if not forloop.last %}border-bottom{% endif %} py-3">
                            <div class="w-100 ms-3">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-0">Check at tibia.com
                                        <a href="{{ i.url_tibiacom }}" target="_blank"><i class="fas fa-external-link-alt fa-xs"></i></a>
                                    </h6>
                                    <small>{{ i.date_added }}</small>
                                </div>
                                <span><small>{{ i.content_html| safe }}</small></span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            <!-- News ticker End -->

            <!-- Boosted creatures Start -->
                <div class="col-sm-6 col-xl-3">
                    <div class="row h-100">

                            <!-- Boosted creature -->
                            <div class="col-sm-12 mb-2">
                                <div class="bg-secondary rounded d-flex align-items-center justify-content-between h-100 p-4">
                                    <img src="{{ boosted_boss.0.image_url }}">
                                    <div class="ms-3">
                                        <p class="mb-2">Boosted boss</p>
                                        <h6 class="mb-0">{{ boosted_boss.0.name }}</h6>
                                    </div>
                                </div>
                            </div>

                            <!-- Boosted boss -->
                            <div class="col-sm-12 mt-2">
                                <div class="bg-secondary rounded d-flex align-items-center justify-content-between h-100 p-4">
                                    <img src="{{ boosted_creature.0.image_url }}">
                                    <div class="ms-1">
                                        <p class="mb-2">Boosted creature</p>
                                        <h6 class="mb-0">{{ boosted_creature.0.name }}</h6>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            <!-- Boosted creatures End -->
        </div>
    </div>
<!-- News ticker and boosted creatures End -->

<!-- Best yesterday Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <img src="https://static.tibia.com/images/global/content/option_server_pvp_type_open.gif" style="width: 48px; height: 48px;">
                    <div class="ms-3 h-100">
                        <small>Open PvP</small>
                        <h6 class="mb-0">123 456 777 777</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <img src="https://static.tibia.com/images/global/content/option_server_pvp_type_retro.gif" style="width: 48px; height: 48px;">
                    <div class="ms-3">
                        <small>Retro Open PvP</small>
                        <h6 class="mb-0">123 456 777 777</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <img src="https://static.tibia.com/images/global/content/option_server_pvp_type_retrohardcore.gif" style="width: 48px; height: 48px;">
                    <div class="ms-3">
                        <small>Retro Hardcore PvP</small>
                        <h6 class="mb-0">123 456 777 777</h6>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xl-3">
                <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                    <img src="https://static.tibia.com/images/global/content/option_server_pvp_type_optional.gif" style="width: 48px; height: 48px;">
                    <div class="ms-3">
                        <small>Optional PvP</small>
                        <h6 class="mb-0">123 456 777 777</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Best yesterday End -->

<!-- News Start -->
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12">
                <div class="bg-secondary rounded h-100 p-4">
                    <div class="owl-carousel testimonial-carousel">

                        <!-- News card -->
                        {% for i in latest_news %}
                            <div class="testimonial-item text-justified">
                                <div class="row">
                                    <div class="col-sm-9"><h1>{{ i.news_title }}</h1></div>
                                    <div class="col-sm-3 text-end"><small>{{ i.date_added }}</small></div>
                                </div>

                                <p>{{ i.content_html| safe }}</p>
                                <!--<a data-toggle="collapse" href="#collapseName" role="button" aria-expanded="false" aria-controls="collapseName">
                                    Read more <i class="fas fa-angle-double-down"></i>
                                </a>
                                <div class="collapse" id="collapseName">
                                    <div class="bg-secondary.bg-gradient rounded">
                                        xxx
                                    </div>
                                </div>-->
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- News End -->

{% endblock %}
