{% extends 'base.html' %}
{% block content %}

<!-- Under construction Start-->
<div class="container-fluid pt-4 px-4">
    <div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
        <div class="col-md-6 text-center p-4">
            <i class="bi bi-cone-striped display-1 text-primary"></i>
            <h1 class="mb-4">Page under construction.</h1>
            <p class="mb-4">We’re sorry, the page you have looked for is under construction.</p>
            <a class="btn btn-primary rounded-pill py-3 px-5" href="/home">Go Back To Home</a>
        </div>
    </div>
</div>
<!-- Under construction End -->

{% endblock %}