{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}


{% if char %}
    {% if exist %}
        <!-- Character exist start -->
            <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-{% if database %}6{% else %}12{% endif %}">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h1 class="mb-4 text-center display-4">{{ char.character.name }}</h1>
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="general-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-general" type="button" role="tab" aria-controls="nav-general"
                                    aria-selected="true">General information</button>

                                {% if char.achievements %}
                                <button class="nav-link" id="achievements-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-achievements" type="button" role="tab"
                                    aria-controls="nav-achievements" aria-selected="false">Achievements</button>
                                {% endif %}

                                {% if char.account_information %}
                                <button class="nav-link" id="account-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-account" type="button" role="tab"
                                    aria-controls="nav-account" aria-selected="false">Account</button>
                                {% endif %}

                                {% if char.deaths %}
                                <button class="nav-link" id="death-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-death" type="button" role="tab"
                                    aria-controls="nav-death" aria-selected="false">Deaths</button>
                                {% endif %}
                            </div>
                        </nav>

                        <div class="tab-content pt-3" id="nav-tabContent">

                            <!-- General information start -->
                                <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="general-tab">
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <ul class="list-group list-group-flush">
                                            {% for key, value in char.character.items %}
                                                <li class="list-group-item bg-transparent text-left">
                                                    <dl class="row mb-1 text-start">
                                                        <dt class="col-sm-3">

                                                            {% if key == 'name' or key == 'comment' or not value %}
                                                            {% else %}
                                                                {{ key| put_space |title}}
                                                            {% endif %}
                                                        </dt>
                                                        <dd class="col-sm-9">
                                                            {% if key == 'name' or key == 'comment' %}
                                                            {% elif key == 'world' %}
                                                                {% if not 'Tournament' in i.world %}
                                                                    <a href="/worlds/world/{{ value }}">{{ value }}</a>
                                                                    <a href="https://www.tibia.com/community/?subtopic=worlds&world={{ i.world.name_value }}" class="text-muted" target="_blank">
                                                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                                                    </a>
                                                                {% else %}
                                                                    {{ value }}
                                                                {% endif %}
                                                            {% elif key == 'former_worlds' %}
                                                                {% for i in value %}
                                                                    <a href="/worlds/world/{{ value }}">{{ i }}</a>
                                                                    <a href="https://www.tibia.com/community/?subtopic=worlds&world={{ i }}" class="text-muted" target="_blank">
                                                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                                                    </a>
                                                                {% endfor %}
                                                            {% elif key == 'former_names' %}
                                                                <ul class="list-unstyled mb-0">
                                                                    {% for i in value %}
                                                                        <li>{{ i }}</li>
                                                                    {% endfor %}
                                                                </ul>
                                                            {% elif key == 'guild'%}
                                                                {% if value %}
                                                                    {{ value.name }}
                                                                {% endif %}
                                                            {% elif key == 'last_login' %}
                                                                {{ value | format_date }}

                                                            {% elif key == 'married_to'%}
                                                                <a href="/character/search/?q={{ value }}">{{ value }}</a>
                                                                <a href="https://www.tibia.com/community/?subtopic=characters&name={{ value }}" class="text-muted" target="_blank">
                                                                    <i class="fas fa-external-link-alt fa-xs"></i>
                                                                </a>
                                                            {% elif key == 'houses' %}
                                                                <ul class="list-unstyled mb-0">
                                                                {% for i in value %}
                                                                        <li>{{ i.name }}, {{ i.town }}</li>
                                                                {% endfor %}
                                                                </ul>
                                                            {% elif key == 'former_worlds' %}
                                                                <ul class="list-unstyled mb-0">
                                                                {% for i in value %}
                                                                        <li>{{ i }} </li>
                                                                {% endfor %}
                                                                </ul>
                                                            {% else %}
                                                                {{ value }}
                                                            {% endif %}
                                                        </dd>
                                                    </dl>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            <!-- General information end -->

                            {% if char.achievements %}
                                <!-- Achievements start -->
                                    <div class="tab-pane fade" id="nav-achievements" role="tabpanel" aria-labelledby="achievements-tab">
                                        <div class="bg-secondary rounded h-100 p-4">
                                            <div class="bg-secondary rounded h-100 p-4">
                                                <ul class="list-group list-group-flush">
                                                {% for i in char.achievements %}
                                                    <li class="list-group-item bg-transparent text-left">{{ i.name }}</li>
                                                {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                <!-- Achievements end -->
                            {% endif %}

                            {% if char.account_information %}
                            <!-- Account start -->
                                <div class="tab-pane fade" id="nav-account" role="tabpanel" aria-labelledby="account-tab">
                                    <div class="bg-secondary rounded h-100 p-4">
                                        <div class="bg-secondary rounded h-100 p-4">
                                            <ul class="list-group list-group-flush">
                                                {% for key, value in char.account_information.items %}
                                                    <li class="list-group-item bg-transparent text-left">
                                                        <dl class="row mb-1 text-start">
                                                            <dt class="col-sm-3">
                                                                {{ key |put_space |title }}
                                                            </dt>
                                                            <dd class="col-sm-9">
                                                                {% if key == 'created' %} {{ value |format_date }}
                                                                {% else %} {{ value }}
                                                                {% endif %}
                                                            </dd>
                                                        </dl>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <div class="bg-secondary rounded h-100 p-4">
                                            <table class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Name</th>
                                                        <th scope="col">Level</th>
                                                        <th scope="col">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in char.other_characters %}
                                                        <tr>
                                                            <!-- Name -->
                                                            <td>
                                                                <a href="#">{{ i.name }}</a>
                                                                <a href="https://www.tibia.com/community/?subtopic=characters&name={{ i.name }}" class="text-muted" target="_blank">
                                                                    <i class="fas fa-external-link-alt fa-xs"></i>
                                                                </a>
                                                            </td>

                                                            <!-- World -->
                                                            <td>
                                                                {% if 'Tournament' not in i.world %}
                                                                    <a href="/worlds/world/{{ i.world }}">{{ i.world }}</a>
                                                                    <a href="https://www.tibia.com/community/?subtopic=worlds&world={{ i.world }}" class="text-muted" target="_blank">
                                                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                                                    </a>
                                                                {% else %}
                                                                    {{ i.world }}
                                                                {% endif %}
                                                            </td>

                                                            <!-- Status -->
                                                            <td class="{% if i.status == 'offline' %}text-danger{% else %}text-success{% endif %}">{{ i.status }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            <!-- Account end -->
                            {% endif %}

                            {% if char.deaths %}
                            <!-- Deaths start -->
                                <div class="tab-pane fade" id="nav-death" role="tabpanel" aria-labelledby="account-tab">
                                    <div class="bg-secondary rounded h-100 p-4">
                                            <ul class="list-group list-group-flush">
                                            {% for i in char.deaths %}
                                                    <li class="list-group-item bg-transparent text-left">
                                                        <dl class="row mb-1 text-start">
                                                            <dt class="col-sm-4">
                                                                {{ i.time | format_date }}
                                                            </dt>
                                                            <dd class="col-sm-8">
                                                                Died at Level {{ i.level }} by
                                                                {% if i.killers.0.player == True %}
                                                                    <a href="/character/search/?q={{ i.killers.0.name }}">{{ i.killers.0.name }}. </a>
                                                                    <a href="https://www.tibia.com/community/?subtopic=characters&name={{ i.killers.0.name }}" class="text-muted" target="_blank">
                                                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                                                    </a>
                                                                {% else %}
                                                                    {{ i.killers.0.name }}.
                                                                {% endif %}

                                                                {% if i.assists %}
                                                                    Assisted by
                                                                    {% for x in i.assists %}
                                                                        {% if x.player %}
                                                                            <a href="/character/search/?q={{ x.name }}">{{ x.name }}</a>
                                                                            <a href="https://www.tibia.com/community/?subtopic=characters&name={{ x.name }}" class="text-muted" target="_blank">
                                                                                <i class="fas fa-external-link-alt fa-xs"></i>
                                                                            </a>
                                                                        {% else %}
                                                                            {{ x.name }}
                                                                        {% endif %}
                                                                        {% if forloop.last %}.{% else %},{% endif %}
                                                                    {% endfor %}
                                                                {% endif %}
                                                            </dd>
                                                        </dl>
                                                    </li>
                                            {% endfor %}
                                            </ul>
                                    </div>
                                </div>
                            <!-- Deaths end -->
                            {% endif %}

                        </div>
                    </div>
                </div>

                <!-- Character exist in db start -->
                {% if database %}
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary rounded h-100 p-4">
                       Comming soon
                    </div>
                </div>
                {% endif %}
                <!-- Character exist in db end -->
            </div>
        </div>
        <!-- Character exist end -->
    {% else %}
        <!-- Character does not exist start -->
            <div class="container-fluid pt-4 px-4">
            <div class="row g-4">

                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4 text-center">
                        <h5>{{ char }}</h5>
                    </div>
                </div>

            </div>
        </div>
        <!-- Character does not exist end -->
    {% endif %}
{% else %}
    <!-- Nothing specified start -->
        <div class="container-fluid pt-4 px-4">
        <div class="row g-4">

            <div class="col-sm-12 col-xl-12">
                <div class="bg-secondary rounded h-100 p-4 text-center">
                    <div class="row g4 justify-content-center">
                        <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4 pb-2">
                        <h5 class="pb-3">Search character</h5>
                        <form action="/character/search/" class="search-form">
                            <input class="form-control" type="text" placeholder="Search character..." name="q">
                        </form>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Nothing specified end -->
{% endif %}
{% endblock %}
