{% extends 'base.html' %}
{% block content %}
{% load custom_tags %}

<!-- Title start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4 text-center">
                <h2 class="mt-2">Rookgaard</h2>
                <small class="mb-3">List of players that gained or lost experience yesterday on Rookgaard.</small>
                <div class="container-fluid pt-4 px-4 mt-4">
                    <img src="https://static.tibia.com/images/news/doublexpnskill_small.png" style="filter: grayscale(100%)" height="145">
                    <img src="https://static.tibia.com/images/news/rapidrespawn_small.png" style="filter: grayscale(100%)" height="145">
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="text-center">Top 5 recorded</h6>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col" class="dt-center">Place</th>
                            <th scope="col" class="dt-center">Name</th>
                            <th scope="col" class="dt-center">World</th>
                            <th scope="col" class="dt-center">Level</th>
                            <th scope="col" class="dt-center">Exp</th>
                        </tr>
                    </thead>
                {% for i in top_5 %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>
                                        <a href="/character/search/?q={{ i.id_char.name }}">{{ i.id_char.name }}</a>
                                        <a href="https://www.tibia.com/community/?subtopic=characters&name={{ i.id_char.name }}" class="text-muted" target="_blank">
                                            <i class="fas fa-external-link-alt fa-xs"></i>
                                        </a>
                                    </td>
                                    <td>
                                    <a href="/worlds/world/{{ i.world.name }}">{{ i.world.name }}</a>
                                    <a href="https://www.tibia.com/community/?subtopic=worlds&world={{ i.world.name_value }}" class="text-muted" target="_blank">
                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                    </a>
                                    </td>
                                    <td>{{ i.level }}</td>
                                    <td class="text-success">{{ i.exp_diff|exp_with_space }}</td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- Title end -->



<!-- Sign In Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">

        <div class="col-sm-12">
            <div class="bg-secondary rounded h-100 p-4">

                <div class="table-responsive-xl">
                    <table id="rookgaard" class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">No.</th>
                                <th scope="col" class="dt-center">Name</th>
                                <th scope="col" class="dt-center">Vocation</th>
                                <th scope="col" class="dt-center">Level</th>
                                <th scope="col" class="dt-center">Level change</th>
                                <th scope="col" class="dt-center">Experience</th>
                                <th scope="col" class="dt-center">PvP</th>
                                <th scope="col" class="dt-center">Location</th>
                                <th scope="col" class="dt-center">World</th>

                            </tr>
                        </thead>
                        <tbody>
                        {% for i in top %}
                            <tr>

                                <!-- Rank -->
                                <td>{{ forloop.counter }}</td>

                                <!-- Name -->
                                <td>
                                    <a href="/character/search/?q={{ i.id_char.name }}">{{ i.id_char.name }}</a>
                                    <a href="https://www.tibia.com/community/?subtopic=characters&name={{ i.id_char.name }}" class="text-muted" target="_blank">
                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                    </a>
                                </td>

                                <!-- Vocation -->
                                <td>{{ i.voc.name }}</td>

                                <!-- Level -->
                                <td class="dt-center">{{ i.level }}</td>

                                <!-- Level change -->
                                <td class="dt-center">{{ i.level_change }}</td>

                                <!-- Experience value -->
                                <td class="{% if i.players_online >= 250 %}text-danger{% else %}text-success{% endif %} dt-center"><b>{{ i.exp_diff|exp_with_space }}</b></td>

                                <!-- PvP -->
                                <td class="dt-center">{{ i.world.pvp_type }}</td>

                                <!-- Location -->
                                <td class="dt-center">{{ i.world.location }}</td>

                                <!-- World name -->
                                <td class="dt-right">
                                    <a href="/worlds/world/{{ i.world.name }}">{{ i.world.name }}</a>
                                    <a href="https://www.tibia.com/community/?subtopic=worlds&world={{ i.world.name_value }}" class="text-muted" target="_blank">
                                        <i class="fas fa-external-link-alt fa-xs"></i>
                                    </a>
                                </td>

                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Sign In Start -->

{% endblock %}