<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary rounded-top p-4">
        <div class="row">
            <div class="col-12 col-sm-6 text-center text-sm-start">
                <small>
                    Tibia is a registered trademark of <a href="https://www.cipsoft.com/en/">CipSoft GmbH.</a><br>
                    Tibia and all products related to Tibia are copyright by <a href="https://www.cipsoft.com/en/">CipSoft GmbH.</a>
                </small>
            </div>
            <div class="col-12 col-sm-6 text-center text-sm-end">
                <small>
                    <a href="/home">TibiaStats</a>, All Rights Reserved.
                    <br>Website Created By: <a href="https://github.com/jakubg89" target="_blank">Jakubg89</a>
                </small>
            </div>
        </div>
    </div>
</div>
