<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">

    <!-- Left side -->

    <!-- Home on small screen -->
    <a href="" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>

    <!-- Show/hide side bar -->
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>

    <!-- Search form -->
    <form action="/character/search/" class="d-none d-md-flex ms-4">
        <input class="form-control bg-dark border-0" type="text" placeholder="Search character..." name="q">
        <button type="submit" class="btn btn-sm btn-outline-light m-2">Search</button>
    </form>

    <!-- Right side -->

    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item">
            <a href="https://www.twitch.tv/directory/game/Tibia" target="_blank" class="nav-link">
                <i class="fab fa-twitch me-lg-2"></i>
            </a>
        </div>

        <div class="nav-item">
            <a href="https://www.youtube.com/channel/UCg5vFOB3tN8KGcJDyk6QQzQ/home" target="_blank" class="nav-link">
                <i class="fab fa-youtube me-lg-2"></i>
            </a>
        </div>

        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <i class="fas fa-user me-2"></i>
                <span class="d-none d-lg-inline-flex">User</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <a href="#" class="dropdown-item">My Profile</a>
                <a href="#" class="dropdown-item">Settings</a>
                <a href="#" class="dropdown-item">Log Out</a>
            </div>
        </div>

    </div>

</nav>